html {
    font-size: 20px;
    background-color: lightblue;
}

#container {
    font-size: 25px;
}

#container > div {
    background-color: red;
    margin-bottom: 15px;
    color: white;
}

#pixele {
    width: 400px;
}

#em {
    width: 20em;
}

#procenty {
    width: 50%;
}


#ex {
    width: 20ex;
}

#rem {
    width: 20rem;
}

}